body	{
	background-color:lightgray;
	font-family: "Courier Sans", Courier, monospace;

	
}

#box {
	border:3px double black;
	width:960px;
	margin: 0px auto;
	background-color:white;

}

#menu { 
	width: 62.5%;
	margin:0px auto;
	padding: 30px;
	text-align: center;

 }

 ul li{
 	display: inline-block;
 	margin: 0px 15px;

 }

ul li a {
	text-decoration: none;
	color: rgb(50,50,50);
	text-transform: uppercase;

}

ul{
	border-top: 3px solid black;
	border-bottom: 1px solid black;
	padding: 10px 0px;
}




